name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          user: raza9100
          template: classic
          filename: github-metrics.svg
          base: header, activity, community, repositories, metadata

          config_timezone: Asia/Karachi
          config_display: large

          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8

          plugin_habits: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes

          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          plugin_stars: yes
          plugin_stars_limit: 4

          plugin_followup: yes
          plugin_followup_sections: repositories

          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_threshold: C

          plugin_lines: yes
